a {
    text-decoration: none;
    color: var(--text-mode);
}
.color-white{
    color: white;
}
/* CSS USER NAVIGATION */
.user__nav {
    background-color: #244c4e;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}
.user__nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    color: var(--text-title);
}
.user__nav ul li {
    font-size: 1.6rem;
}
.user__nav ul li + li::before {
    content: "/";
    cursor: auto;
    color: var(--text-title);
    padding: 0 8px;
}
/* CSS USER INFORMATION */
.information__box {
    width: var(--width-body);
    height: auto;
    min-height: 100vh;
    min-width: calc(var(--width-body) / 4);
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
}
.information__nav{
    width: 400px;

}
form{
    flex: 1;
    padding: 32px 0;
}
.information__nav ul {
    display: flex;
    flex-direction: column;
    padding: 0 18px;
}

.information__nav ul .tab {
    padding: 12px 0;
    color: var(--text-title);
    font-weight: bolder;
    letter-spacing: 4px;
    text-decoration: none;
    height: 30px;
    border-bottom: var(--text-title) 1px solid;
    display: flex;
}
ul .tab--icon{
    padding: 0 12px;
}
.information__nav ul .tab label{
    width: 100%;
    
}
.information__nav ul .tab label:hover {
    color: #fff;
    cursor: pointer;
}

.information__box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: var(--text-mode);
    text-align: center;
}

.information__box--content {
    display: flex;
    flex-direction: column;
}

.information__box .user-box {
    position: relative;
    width: 100%;
    display: flex;
}

.information__box .user-box input {
    width: 100%;
    font-size: 16px;
    padding: 10px 0;
    color: var(--text-mode);
    margin-bottom: 30px;
    border: none;
    outline: none;
    border-bottom: #03e9f4 1px solid;
    background: transparent;
}
.information__box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-mode);
    pointer-events: none;
    transition: 0.5s;
}

.information__box .user-box input:focus ~ label,
.information__box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.information__box form div.btn__update {
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: 0.5s;
}

div.btn__update > button {
    border: none;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    letter-spacing: 4px;
    text-transform: uppercase;
    background-color: transparent;
}

div.btn__update > button:hover {
    cursor: pointer;
    color: var(--text-mode);
}

/* upload avatar css */

div.user__avatar {
    position: relative;
    display: inline-block;
    height: auto;
    width: 300px;
    color: #03e9f4;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 4px;
    transition: 0.5s;
    padding: 10px 0;
    margin-left: 40px;
}

div.user__avatar img {
    width: 100%;
    height: 100%;
}

div.user__avatar:hover {
    background: #4e4e4e;
    border-radius: 5px;
    box-shadow: 0 0 1px #03e9f4, 0 0 25px #03e9f4, 0 0 10px #03e9f4, 0 0 1px #03e9f4;
}

.information__box div.user__avatar span {
    position: absolute;
    display: block;
}

.information__box div.user__avatar span:nth-child(1) {
    top: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

.information__box div.user__avatar span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

.information__box div.user__avatar span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

.information__box div.user__avatar span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

/* End upload avatar css */

.information__box div.btn__update:hover {
    background: #03e9f4;
    border-radius: 5px;
    box-shadow: 0 0 1px #03e9f4, 0 0 25px #03e9f4, 0 0 10px #03e9f4, 0 0 1px #03e9f4;
}

.information__box div.btn__update span {
    position: absolute;
    display: block;
}

.information__box div.btn__update span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.information__box div.btn__update span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.information__box div.btn__update span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.information__box div.btn__update span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}

.favorites {
    width: 400px;
    padding: 0 12px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.favorites h2 {
    color: #03e9f4;
}

.favorites input[type="checkbox"] ~ div {
    color: #03e9f4;
    margin: 2px;
    border: 2px solid white;
}

.favorites input[type="checkbox"]:checked ~ div {
    color: black;
    border: 4px solid black;
}

/* CSS for History */
table {
    width: 100%;
    table-layout: fixed;
}
.tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
}
.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}
td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background-color: #244c4e;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(0, 102, 255);
}

/* Start CSS for button custom */

.btn__custom {
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: .5s;
}

.btn__custom>button {
    border: none;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: transparent;
}

.btn__custom>button:hover {
    cursor: pointer;
    color: var(--text-mode);
}

.btn__custom:hover {
    background: #03e9f4;
    border-radius: 5px;
    box-shadow: 0 0 1px #03e9f4, 0 0 25px #03e9f4, 0 0 10px #03e9f4, 0 0 1px #03e9f4;
}

.btn__custom span {
    position: absolute;
    display: block;
}
.btn__custom span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.btn__custom span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.btn__custom span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

.btn__custom span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}

/* End CSS for button custom */