p {
    margin-block-start: 0;
    margin-block-end: 0;
}

ul, li {
    list-style: none;
}

.footer {
    height: auto;
    width: auto;
    max-width: var(--width-body);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer__left {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footer__mid {
    height: 100%;
    display: flex;
}

.fill-flex {
    flex: 1;
}

.border {
    border: 1px solid black;
}

.footer__item {
    padding: 16px 8px;
}

.footer__item--title {
    padding: 0 12px;
    font-size: 20px;
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    color: var(--text-mode);
    text-transform: uppercase;
    background-color: #1f1f1f;
    height: fit-content;
    margin: 18px auto;
}

.footer__item--content {
    padding: 0 8px;
}

.footer__item--content>.social__icons {
    width: calc(48px * 5);
    display: flex;
    justify-content: space-around;
}

.footer__item--content> .social__payment {
    max-width: 200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.social__payment>li>img {
    width: auto;
    height: 40px;
}

.footer__item--content>.comments {
    display: flex;
    color: var(--text-mode);
    flex-direction: column;
    justify-content: space-between;
}
.red{
    color: red;
}
.comments__item{
    font-size: 18px;
    border-bottom: 1px dashed green;
}
.footer__item--content>ul {
    padding-inline-start: 0;
}

.footer__item--content>p:hover, li:hover {
    cursor: pointer;
    color: var(--text-mode);
}

/* Iphone 6/7/8 Plus to Ipad */

@media (min-width: 414px) and (max-width: 739px) {
    
}
/* Iphone X to Ipad */

@media (min-width: 375px) and (max-width: 739px) {
    .footer{
        max-width: calc(var(--width-body)90%);
        flex-direction: column;
    }
}
/* Ipad to Ipad Pro */

@media (min-width: 740px) and (max-width: 1239px) {
    .footer{
        max-width: calc(var(--width-body)90%);
        flex-direction: column;
    }
}