#main {
    background-color: var(--mode-dark);
}

#content__page {
    width: auto;
    max-width: var(--width-body);
    margin: 0 auto;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
}

/* Iphone 6/7/8 Plus to Ipad */

@media (min-width: 414px) and (max-width: 739px) {
    #content__page {
        max-width: calc(var(--width-body)90%);
        flex-direction: column;
    }
}

/* Iphone X to Ipad */

@media (min-width: 375px) and (max-width: 739px) {
    #content__page {
        max-width: calc(var(--width-body)90%);
        flex-direction: column;
    }
}

/* Ipad to Ipad Pro */

@media (min-width: 740px) and (max-width: 1239px) {
    #content__page {
        max-width: calc(var(--width-body)90%);
    }
}