#main {
    background-color: var(--mode-dark);
}

#products__page {
    width: auto;
    max-width: var(--width-body);
    margin: 0 auto;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
}
#reg__page{
    display: block;
    padding-top: calc(var(--height-heading) * 3);
    padding-bottom: calc(var(--height-heading) * 2);
}
#log__page{
    padding: calc(var(--height-heading) * 4);
}
#inf__page{
    height: 100vh;
}
/* Iphone 6/7/8 Plus to Ipad */

@media (min-width: 414px) and (max-width: 739px) {
    #products__page {
        max-width: calc(var(--width-body)90%);
        flex-direction: column;
    }
}

/* Iphone X to Ipad */

@media (min-width: 375px) and (max-width: 739px) {
    #products__page {
        max-width: calc(var(--width-body)90%);
        flex-direction: column;
    }
}

/* Ipad to Ipad Pro */

@media (min-width: 740px) and (max-width: 1239px) {
    #products__page {
        max-width: calc(var(--width-body)90%);
    }
}
