.category {
    background-color: var(--color-heading);
    display: flex;
    padding: 0 10%;
}

.category .category_title {
    padding: 0 68px;
    color: var(--text-mode);
    align-self: center;
    font-weight: 800;
}

.category .category_content {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.category .category__item {
    border: none;
    outline: none;
    background-color: transparent;
    align-self: center;
    color: var(--text-mode);
    font-weight: bold;
    line-height: 48px;
    padding: 0 16px;
    position: relative;
}

.category .category__item:hover {
    color: var(--text-title);
    cursor: pointer;
}

.category .category__item::after {
    display: block;
    content: '';
    border-bottom: solid 4px #019fb6;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.category .category__item:hover:after {
    transform: scaleX(1);
}
.menu__category{
    display: flex;
    color: black;
    text-align: left;
    position: absolute;
    width: 500px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 20;
}
.menu__category li{
    width: 40%;
    padding: 0 16px;
}
.menu__category li:hover{
    background-color: #019fb6;
}
/* Iphone 6/7/8 Plus to Ipad */

@media (min-width: 414px) and (max-width: 739px) {
    .category .category_content {
        height: calc(var(--height-heading));
        max-width: 100%;
        justify-content: space-around;
        overflow-x: auto;
    }
    .category .category__item {
        padding: 0;
    }
    .category .category__item:hover {
        color: var(--text-title);
        cursor: pointer;
    }
}

/* Iphone X to Ipad */

@media (min-width: 375px) and (max-width: 739px) {
    .category {
        padding: 0;
    }
    .category .category_title {
        padding: 0 28px;
    }
    .category .category_content {
        max-width: 100%;
        overflow-x: auto;
    }
    .category .category_content::-webkit-scrollbar {
        display: none;
    }
}

/* Ipad to Ipad Pro */

@media (min-width: 740px) and (max-width: 1239px) {
    .category {
        padding: 0 48px;
    }
    .category .category_content {
        max-width: 100%;
        overflow-x: auto;
    }
}