.book__wrap {
    color: var(--text-mode);
    background: linear-gradient(0, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, .5));
    width: calc(var(--width-body)*3);
    margin: 28px auto;
}
.book__title{
    text-align: center;
    padding: 18px 0;
}
.book__detail{
    display: flex;
    padding: 0 8px;
}
.book__detail .book__detail--card{
    height: 600px;
    width: 400px;
}
.book__detail .book__detail--card img{
    height: 100%;
    width: 100%;
}
.book__detail .book__info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.book__info .material-icons{
    color: gray;
}
.book__info--ranktext{
    display: flex;
}
.book__info--text{
    font-size: 18px;
    width: 100%;    
}
.book__info--author, 
.book__info--category,
.book__info--view,
.book__info--rank,
.book__info--read   {
    display: flex;
    padding: 8px 12px;
    height: 100%;
    background: linear-gradient(0, rgba(0, 0, 0, 0.8), rgba(182, 41, 41, 0.2));
}
.book__info--rank{
    flex-direction: column;
}
.rank__star{
    padding: 8px 24px;
}
.rank__star > .material-icons{
    font-size: 36px;
    color: yellow;
}
.book__info--read{
    display: flex;
    flex: 1;
    justify-content: space-around;
}
.book__info--read button{
    color: var(--text-mode);
    height: fit-content;
    width: fit-content;
    padding: 18px 18px;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    background: linear-gradient(0, rgba(41, 142, 182, 0.8), rgba(0, 0, 0, 0.8));
}
.book__info--read button:hover{
    opacity: .7;
}
.book__review--text{
    font-size: 36px;
    color: green;
    padding: 0 8px;
    margin: 0 8px;
    display: flex;
    border-bottom: 1px solid green;
}
.book__review--text > .material-icons{
    padding: 8px 0;
    font-size: 36px;
}
.book__review--content{
    padding: 16px 0;
}
.book__review--content p, em{
    padding: 0 8px;
    text-align: justify;
}