:root {
    --fontSize-heading: 1.2rem;
}

#main .heading {
    position: fixed;
    height: var(--height-heading);
    font-size: var(--fontSize-heading);
    top: 0;
    left: 0;
    right: 0;
    transition: background-color 500ms linear;
    z-index: 99999;
}

#main .heading__top {
    width: var(--width-body);
    display: flex;
    margin: auto;
}

#main .heading__logo {
    display: flex;
    align-items: center;
}

#main .heading__logo>img {
    height: var(--height-heading);
}

#main .heading__nav {
    flex: 1;
    display: flex;
}

#main .heading__nav--menu-pc {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

#main .heading__nav--right {
    color: var(--text-mode);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

#main .heading__search, .heading__member {
    display: flex;
}

#main .heading__search {
    width: 300px;
}

#main .heading__member {
    position: relative;
    width: 150px;
}

#main .heading__member:hover {
    color: var(--text-title);
}

.heading__member--menu::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 20%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #fff;
}

.heading__member--menu {
    position: absolute;
    top: var(--height-heading);
    background-color: var(--mode-dark);
    width: 150px;
    border-radius: 4px;
    border: 1px solid;
}

.heading__member--item {
    display: block;
    text-decoration: none;
    color: var(--text-mode);
    padding-left: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.heading__member--item:hover {
    cursor: pointer;
    background-color: var(--text-title);
}

#main .heading__member:hover {
    cursor: pointer;
}

.heading__member .heading__member--icon {
    padding: 0 8px;
}

#main .heading__search .heading__search--input {
    align-self: center;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #fff;
    display: flex;
}

.heading__search .heading__search--icon {
    cursor: pointer;
    color: var(--text-mode);
}

.heading__search--input>input {
    color: var(--text-mode);
    padding: 4px 8px;
    width: 100%;
    height: auto;
    border: none;
    background-color: transparent;
    outline: none;
}

#main .heading__nav--menu-mb {
    display: none;
    flex: 1;
}

#main .heading__nav--item {
    color: var(--text-mode);
    text-decoration: none;
    font-weight: 500;
    line-height: 48px;
    padding: 0 20px;
    text-align: center;
    align-self: center;
    transition: padding 0.3s ease;
}

#main .heading__nav--item:hover {
    color: var(--text-title);
    border-bottom: 4px solid var(--text-title);
    padding: 0 32px;
}

.heading__nav--brand {
    text-transform: uppercase;
    color: var(--text-mode);
    font-size: 1.6rem;
    font-weight: 800;
    -webkit-text-stroke: 4px black;
}

.heading_nav--menu-content {
    position: absolute;
    display: none;
    margin-top: calc(var(--height-heading)/2);
    height: fit-content;
    background: #333;
    top: 0;
    left: 70%;
    right: 0;
}

/* Iphone X to Ipad */

@media (min-width: 375px) and (max-width: 739px) {
    #main .heading {
        padding: 0;
    }
    #main .heading__logo>img {
        height: calc(var(--height-heading)/3);
    }
    #main .heading__nav--item {
        font-size: 1rem;
        padding: 0;
    }
    #main .heading__nav--menu-pc {
        padding: 0;
    }
}

/* Ipad to Ipad Pro */

@media (min-width: 740px) and (max-width: 1239px) {
    :root {
        --fontSize-heading: 0.6rem;
    }
    #main .heading {
        padding: 0;
        height: calc(var(--height-heading)/2);
    }
    #main .heading__logo>img {
        height: calc(var(--height-heading)/2);
    }
    #main .heading__nav--item {
        font-size: 1rem;
        padding: 0;
    }
    #main .heading__nav--menu-pc {
        padding: 0;
    }
}

/* Mobile */

@media (max-width: 739px) {
    #main .heading__nav--menu-mb {
        position: absolute;
        display: flex;
        right: 0;
    }
    #main .heading {
        padding: 0;
        height: calc(var(--height-heading)/2);
    }
    .heading__nav--menu-mb .heading__nav--icon {
        font-size: 1rem;
        color: var(--text-mode);
        cursor: pointer;
        padding: 0 18px;
    }
    #main .heading_nav--menu-content {
        display: flex;
        flex-direction: column;
    }
    #main .heading__nav--menu-pc {
        display: none;
    }
    .heading__nav--brand {
        font-size: 1rem;
        font-weight: 800;
        -webkit-text-stroke: 2px black;
    }
    #main .heading__nav--right {
        color: var(--text-mode);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 300px;
    }
    #main .heading__search {
        width: 200px;
    }
    #main .heading__search--icon{
        font-size:smaller;
    }
    #main .heading__member {
        font-size: 1rem;
    }
    #main .heading__search .heading__search--input {
        max-height: 15px;
        font-size: smaller;
    }
}