#main .heading {
    position: fixed;
    width: auto;
    height: var(--height-heading);
    background-color: var(--color-heading);
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 0 68px;
    z-index: 99999;
}

#main .heading__logo {
    display: flex;
    align-items: center;
}

#main .heading__logo>img {
    height: var(--height-heading);
}

#main .heading__nav {
    flex: 1;
    display: flex;
}

#main .heading__nav--menu-pc {
    display: flex;
    flex: 1;
    padding: 8px 48px;
    align-self: center;
    list-style: none;
    justify-content: space-around;
}

#main .heading__search {
    display: flex;
}

#main .heading__search .heading__search--input {
    align-self: center;
    border-radius: 5px;
    width: 500px;
    border: 1px solid black;
    display: flex;
}
.heading__search .heading__search--icon{
    cursor: pointer;
    color: var(--text-mode);
    font-size: xx-large;
}
.heading__search--input>input {
    color: var(--text-mode);
    width: 100%;
    font-size: x-large;
    height: auto;
    border: none;
    background-color: transparent;
    outline: none;
}


#main .heading__nav--menu-mb {
    display: none;
    flex: 1;
}

#main .heading__nav--item {
    color: var(--text-mode);
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 500;
    line-height: 48px;
    padding: 0 20px;
    text-align: center;
    align-self: center;
    transition: padding 0.3s ease;
}

#main .heading__nav--item:hover {
    color: green;
    border-bottom: 4px solid green;
    padding: 0 32px;
}

.heading__nav--brand {
    text-transform: uppercase;
    color: var(--text-mode);
    font-size: 1.6rem;
    font-weight: 800;
    -webkit-text-stroke: 4px black;
}

.heading_nav--menu-content {
    position: absolute;
    display: none;
    margin-top: calc(var(--height-heading)/2);
    height: fit-content;
    background: #333;
    top: 0;
    left: 50%;
    right: 0;
}

/* Iphone X to Ipad */

@media (min-width: 375px) and (max-width: 739px) {
    #main .heading {
        padding: 0;
    }
    #main .heading__logo>img {
        height: calc(var(--height-heading)/3);
    }
    #main .heading__nav--item {
        font-size: 1rem;
        padding: 0;
    }
    #main .heading__nav--menu-pc {
        padding: 0;
    }
}

/* Ipad to Ipad Pro */

@media (min-width: 740px) and (max-width: 1239px) {
    #main .heading {
        padding: 0;
        height: calc(var(--height-heading)/2);
    }
    #main .heading__logo>img {
        height: calc(var(--height-heading)/2);
    }
    #main .heading__nav--item {
        font-size: 1rem;
        padding: 0;
    }
    #main .heading__nav--menu-pc {
        padding: 0;
    }
}

/* Mobile */

@media (max-width: 739px) {
    #main .heading__nav--menu-mb {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #main .heading {
        padding: 0;
        height: calc(var(--height-heading)/2);
    }
    .heading__nav--menu-mb .heading__nav--icon {
        font-size: 2.6rem;
        color: var(--text-mode);
        cursor: pointer;
        padding: 0 18px;
    }
    #main .heading_nav--menu-content {
        display: flex;
        flex-direction: column;
    }
    #main .heading__nav--menu-pc {
        display: none;
    }
    #main .heading__logo>.heading__nav--brand {
        display: none;
    }
}