.banner {
    padding-top: 50%;
    background-image: linear-gradient(300deg, rgb(0, 0, 0, 0), rgba(0, 0, 0, .7), rgba(0, 0, 0, 1)), url(../../assets/banner2.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.banner .slogan {
    position: absolute;
    font-family: "Archivo Black", sans-serif;
    margin-top: -30%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
}

.words {
    color: rgba(0, 0, 0, .8);
    line-height: 1.5;
    font-weight: 600;
}

.words span {
    font-size: 5rem;
    display: inline-block;
    animation: move 3s ease-in-out infinite;
}

/* Iphone X to Ipad */

@media (min-width: 375px) and (max-width: 739px) {
    .words span {
        font-size: 1rem;
    }
    .banner {
        background-size: cover;
    }
    .banner .slogan {
        margin-top: -25%;
    }
}

/* Ipad to Ipad Pro */

@media (min-width: 740px) and (max-width: 1239px) {
    .words span {
        font-size: 3rem;
    }
    .banner {
        background-size: cover;
    }
    .banner .slogan {
        margin-top: -35%;
    }
}


@keyframes move {
    0% {
        transform: translate(-30%, 0);
    }
    50% {
        text-shadow: 0 25px 50px red;
    }
    100% {
        transform: translate(30%, 0);
    }
}

.words span:nth-child(2) {
    animation-delay: 0.5s;
}

.words span:nth-child(3) {
    animation-delay: 1s;
}

.words span:nth-child(4) {
    animation-delay: 1.5s;
}

.words span:nth-child(5) {
    animation-delay: 2s;
}

.words span:nth-child(6) {
    animation-delay: 2.5s;
}

.words span:nth-child(7) {
    animation-delay: 3s;
}